.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    min-height: 70vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutlist{
    text-align: left;
    list-style-type: "▶  ";
}
  