.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 10vh;
    justify-items: center;
    align-items: center;
    border-top: 1px solid gray;
}

.footer>p {
    margin: 0;
    padding: 0;
    color: darkcyan;

}


.footer>p>a:hover {
    cursor: none;
}

.username::before{
    content: "User: ";
    color: #4a4a4a;
    font-weight: 500;
}

.username{
    color: gray !important;
}


.logoutbut {
    color: gray;
    transition: color 0.3s;
    text-decoration: none;
    background-image: linear-gradient(#b6b6b6, #464646);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 100%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
    font-weight: 500;
}

.logoutbut:hover {
    color: rgb(59, 59, 59);
    background-size: 100% 0.1em;
    background-position-x: 0%;
}