.footer{
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    justify-content: center;
    align-items: center;
    border-top: 1px solid gray;
} 

.footer > p {
    margin: 0;
    padding: 0;
    color: darkcyan;
    
}


.footer>p>a:hover{
    cursor: none;
}